[2017-04-12 10:30] Harvey3141 opened #2 "Support changing sender dimensions"
Hi,

It would be useful to have the UpdateSender function (SpoutSender.h, line 44) from the SpoutSDK available in Unity. This would you mean you don't have to recreate the spout sender when changing sender dimensions.

Thanks, Harvey

[2017-04-12 15:17] keijiro commented on #2
It might be useful, but the priority is low because I rarely change dimensions of senders while playing. It's my personal opinion though.

[2017-04-13 06:20] hybridherbst opened #3 "Improvement : Add NDI support"
That's not an issue, but an improvement - having solid support for NewTek's NDI would be awesome as well. It allows sending images over network with a lot less latency than Spout2NDI currently allows.

[2017-04-13 06:57] keijiro commented on #3
I've received the same feedback from some others, but I've never used NDI so that I have no idea about it. Could you give me some more input?

- Are there any famous apps that support NDI? I'd like to use some of them for experimentation and testing.
- Do you have any idea of why Spout2NDI has such latency issues? I'm not sure if it can be solved by implementing a new native plugin.

[2017-04-13 13:28] hybridherbst commented on #3
What you can easily use for testing is the NDI Monitor provided by NewTek. It allows you to see the stream on any machines in the local network. Other than that, NewTek's NDI Tools provide ways to access the stream e.g. from AfterEffects, or receiving Streams from VLC, using a Desktop Scan Converter to stream the whole screen content, ...

My best guess is that Spout2NDI is slow because it somehow

[2017-04-15 12:30] keijiro commented on #2
It's supported on v0.1.2

[2017-04-15 12:30] #2 closed, assigned to keijiro

[2017-04-15 17:17] Harvey3141 commented on #2
Thanks!

[2017-04-18 08:35] benkuper commented on #3
Hi, i'm the developer of Spout4Unity, Spout for AfterEffects and part of the development team of the Spout ecosystem.

I think that this feature is not "Spout" related as the spout part of the Spout2NDI workflow is not the cause of the latency, and NDI is actually a completely different technology.

But as people need it and Lynn Jarvis (leadedge) already built a tool for converting Spout to NDI,

[2017-04-18 09:08] keijiro commented on #3
Basically I agree with @benkuper. It's better to improve the existing solution than starting a reinventing-the-wheel situation. Or I'd recommend trying another similar solution like [TCPSpout](http://techlife.sg/TCPSpout/).

I'd like to keep this ticket opened just for keeping in mind the topic.

[2017-04-18 10:37] hybridherbst commented on #3
@benkuper @keijiro thanks for chiming in on this. We did actual tests on that for a project where we needed those network-transmitted images, and the native NDI plugin we hacked together had considerably less latency than either TCPSpout or Spout2NDI. The reasons are outside our understanding, but the fact was that the native solution was the only one that performed good enough, with high enough f

[2017-04-18 10:48] benkuper commented on #3
If you already managed to have a working solution, then it would be a great idea to contact leadedge (or post on the official spout forum), and share your code with him, see if he can improve the Spout2NDI solution with your technique.
Also, it doesn't seem that Spout2NDI is open source (or i just didn't find it), but i'm sure Lynn won't mind sharing this with you.

[2017-07-15 00:43] danjaco opened #4 "DLLNotFoundException"
I can't seem to get it working. The console fills with DLLNotFoundException: KlakSpout errors, using your test scene or my own tests - although the dll is definitely imported. My Spout version is 2.006 using DX11 mode on Win64.

[2017-07-15 16:26] keijiro commented on #4
I can't reproduce it. Even I don't have any idea what's happening in it.

Could you try it on another machine and check if it reproduces on it?

[2017-08-21 06:19] keijiro commented on #4
I'm closing this issue. Please feel free to reopen for further questions.

[2017-08-21 06:19] #4 closed, assigned to keijiro

[2017-09-12 09:02] sinokgr opened #5 "Build issue"
Hi there,
I created two projects (sender/receiver) and I hit play in both (with background on in the player settings) and it works fine. When I built the projects and tried to do run the builds, they didn't work. Any idea why?

[2017-09-12 10:24] keijiro commented on #5
KlakSpout doesn't support 32-bit (x86) target. Could you make sure that the target architecture is set to x86_64?

[2017-09-12 12:14] sinokgr commented on #5
yep, that fixed the problem. Thanks 😄

[2017-09-12 13:11] #5 closed, assigned to keijiro

[2017-11-23 16:34] Harvey3141 opened #7 "Creating/Destroying Spout Senders programmatically works in the Editor but not in build"
Hi,

I've have an issue where creating or destroying a Spout sender in code results in a crash in a build, but works in the Editor

I've tested with Unity 5.6 and 2017.

Test case - Using the following to destroy and create the SpoutSender component. (Maybe I'm missing something obvious)

    // Update is called once per frame
    void Update()
    {
        if (Input.GetKeyDown(KeyCode.D))

[2017-11-23 17:26] Harvey3141 commented on #7
Interestingly I don't get a crash in the build when running on different haredware . I've done some testing on the available hardware I have.

**Machine 1**
Windows 10 , Nvidia GTX 980
Editor - OK
Build - Crash

**Machine 2**
Windows 10 , Nvidia Quadro P6000
Editor - OK
Build - Crash

**Machine 3**
Windows 10,  Macbook Pro 2017 ,AMD Radeon Pro 455
Editor - OK
Build - OK

[2017-12-07 11:35] Harvey3141 commented on #7
Possibly related to this issue

https://answers.unity.com/questions/1339292/build-crash-directx-11-unity-56.html

[2018-01-20 02:32] eldaville opened #8 "Send more than 10 Spouts"
Hi.. I'm trying to send 15 cameras from Unity to Resolume Arena 6.

For some reason in Resolume I can only see 10 cameras (the first 5 and the last 5).

Is this a limitation in the Resolume side? or is it a limitation in the Unity Side?

[2018-01-20 11:34] keijiro commented on #8
Actually I've never tried using more than three senders in practice. So... I have no idea!

Thanks for the interesting report! I'll check it when I have free time. My wild guess is that the Spout SDK has some limitations and I implemented the plugin without knowing it.

[2018-03-15 07:15] xiangjunhuang commented on #3
It will be great to see NDI integration with spout, by extending the capbility of spout to share video across network. Which I believe is veryuseful.

[2018-03-16 02:18] keijiro commented on #3
@xiangjunhuang
If you don't mind me asking, which software/hardware do you like to use with NDI? I haven't tried anything about NDI yet, so I'm wondering what the best starter is.

[2018-03-16 04:33] benkuper commented on #3
@xiangjunhuang There is actually a very useful tool called Spout To NDI  : http://spout.zeal.co/download-spout-to-ndi/
It might be more interesting to keep this conversion out of your software and keep a simple and clean handling of spout texture in your projects, right ?

[2018-03-19 13:00] xeonification opened #9 "Crashing while taking a build"
Unity is crashing constantly while trying to build my application with spout sender on the camera. When I turn off the component I am able to build the application.

[2018-03-19 15:42] keijiro commented on #9
Which version of Unity are you using?

[2018-03-19 15:52] xeonification commented on #9
2017.3.0 .it was working yesterday. Is there anyways I can give you the
logs ?

On Mon, Mar 19, 2018, 9:12 PM Keijiro Takahashi <notifications@github.com>
wrote:

[2018-03-22 10:40] Harvey3141 commented on #8
In the SpoutSenderNames class, m_MaxSenders is set to 10 in the constructor, increasing this worked for me. I believe there will be some changes in the next release of the SpoutSDK to improve this.

[2018-03-30 21:49] Latentnaut opened #10 "Spout error CS0234"
Hi Keijiro!

I want to use Spout into Phantom, so I replaced Klak with the newer version, and added Spout. However, I got this error:

Assets/Klak/Spout/Internal/PluginEntry.cs: error CS0234: The type or namespace name 'IntPtr' doesnt exist in the namespace 'Klak.System'. Are you missing an assembly reference?

I don't know how to fix this :-/

[2018-04-01 01:31] keijiro commented on #10
Did you modified the source code?

I hardly think that this error could happen without modification.

[2018-04-01 21:38] Latentnaut commented on #10
Clean copy of Phantom, then clean copy of Klak over the one already is in, and clean copy of Spout. That's all.

[2018-04-02 02:30] keijiro commented on #10
Okay. It reproduced in my side too.

It's caused by the old version of Klak. You have to remove `Assets/Klak/System` directory to resolve it.

I'm closing this ticket. Please feel free to reopen if you still have issues.

[2018-04-02 02:30] #10 closed, assigned to keijiro

[2018-04-03 04:41] thebelin commented on #3
@keijiro Most of the use of NDI (IMO) is to play video in VLC with the NDI plugin and then show that video on a variety of network players, also running VLC. I couldn't get the NDI plugin to work on any version of VLC newer than 2.6. I think it's the famous software you're looking for. The performance is fast and works amazing for pre-encoded video transmission. NDI uses a low latency encoding pro

[2018-04-04 05:20] xiangjunhuang commented on #3
@keijiro NDI is a open standard that Newtek is providing sdk download for free. https://zh.newtek.com/ndi/sdk/. You can find they also providing a set of tools can act as pattern-generator and also a monitor as video receiver for visualization.

[2018-04-11 12:47] keijiro commented on #3
I'm pleased to announce that I've just released a new plugin that adds NDI support to Unity. Please check the repository below.

https://github.com/keijiro/KlakNDI

I found that NDI is actually useful and super handy for several kinds of applications. I'd like to thank you for valuable input.

I'm closing this issue. Further feedback is welcomed at the KlakNDI issue tracker.

[2018-04-11 12:47] #3 closed, assigned to keijiro

[2018-04-14 17:48] Andergraw commented on #9
First, thank you for your great work, Keijiro, it is absolutely amazing.
We are having exactly the same problem working with Spout, constant crashes on build.
Using Unity 2017.4.0.
Cheers,

[2018-04-15 01:50] keijiro commented on #9
First of all, please check the build architecture set to x86_64. KlakSpout doesn't support the 32-bit (x86) architecture.

If you still have problem with that, please send a minimum project that reproduces the problem.

[2018-04-20 21:27] zombience opened #12 "sending spout that renders only 1 layer doesn't work"
I encountered an issue where a spout sender attached to a camera that is only rendering one layer sends an image that includes all render layers.

Unity 2017.3.1f1, Win 10 GTX 1080Ti

[2018-04-21 01:52] keijiro commented on #12
Thanks for reporting. Could you provide a minimum project that reproduces the issue?

[2018-04-23 03:42] zombience commented on #12
I have used the "Test" scene from the github project.
I created two cameras, one rendering only "layer1", and the other rendering only "layer2".
If these are the only two cameras, I do not receive a spout image in receiving application.

(For this test I am using Touch Designer build 16620, I have included a very basic TD file that I used to test)
In Touchdesigner, I receive no Images unless I tur

[2018-04-23 04:56] keijiro commented on #12
It sends both layers because the camera clear flag is set to "depth only" (the render is mixed because the cameras don't clear the frame buffer). Please change the clear flags of these cameras to "Solid Color" or "Skybox", then I think it works as you intended.

[2018-04-23 15:47] zombience commented on #12
Thank you for looking into this issue.
[In this Spout / Unity plugin](https://github.com/sloopidoopi/Spout4Unity), spout senders from Unity are able to handle sending camera data with a clear flag set to depth only, such that only the desired layer is sent over the spout sender. I wrongly assumed that yours would do the same.

I see this issue is not a bug. Would you consider making this a feature

[2018-04-24 02:00] keijiro commented on #12
I think you can send only the desired layer by setting the camera clear flag to "Solid Color".

[2018-04-24 13:54] Willjfield opened #14 "32-bit version?"
This is fantastic and is working great on 64-bit builds. I don't see anything in docs about it being 64-bit only but I can't get it to work for 32-bit builds. Is it possible to make this work for 32-bit or is the plugin 64-bit only? If so, this should be noted in docs.

[2018-04-25 05:02] keijiro commented on #14
Yes. I should note it in README (I just forgot mentioning it).

[2018-08-30 10:14] Andergraw commented on #9
Yep, in my case it was because of that.
Thank you very much!

[2018-09-05 03:50] TxTx123 opened #16 "Run on HDRP?"
KlakSpout don't send graphic on Unity2018.2 with HDRP.
I can send Image without HDRP.

How to use KlakSpout on HDRP mode?
Best regards,

[2018-09-06 05:37] keijiro commented on #8
This issue is not reproducible with the [latest version](https://github.com/keijiro/KlakSpout/releases/tag/v0.1.3). I used the example sender/receiver provided by the Spout author.

If you still have the issue with your environment, it's considered that the problem is in the Resolume side. Please try contacting the technical support to solve the issue.

I'm closing this issue. Please feel free to

[2018-09-06 05:37] #8 closed, assigned to keijiro

[2018-09-06 05:38] keijiro commented on #14
I added x86 support in the [latest version](https://github.com/keijiro/KlakSpout/releases/tag/v0.1.3), so this issue was solved.

I'm closing this issue. Please feel free to reopen for further questions.

[2018-09-06 05:38] #14 closed, assigned to keijiro

[2018-09-06 05:39] keijiro commented on #9
FYI: I added x86 support in the [latest version](https://github.com/keijiro/KlakSpout/releases/tag/v0.1.3).

I'm closing this issue. Please feel free to reopen for further questions.

[2018-09-06 05:39] #9 closed, assigned to keijiro

[2018-09-06 05:42] keijiro commented on #12
I'm closing this issue. Please feel free to reopen for further questions.

[2018-09-06 05:42] #12 closed, assigned to keijiro

[2018-09-06 05:44] keijiro commented on #7
I think this issue is not reproducible with the latest version. Please feel free to reopen if you meet the same issue.

[2018-09-06 05:44] #7 closed, assigned to keijiro

[2018-09-14 09:49] Harvey3141 opened #17 "Feature Request - RenderTexture sending mode"
Hi,

It would be useful to have the same RenderTexture sending mode as you have implemented in the NDI plugin, where you can RenderTexture directly via spout without using a camera.

Thanks,

Harvey

[2018-09-14 13:02] keijiro commented on #17
I'm working on it. Please stay tuned. https://github.com/keijiro/KlakSpout/tree/dev-v0.2

[2018-09-15 13:51] keijiro commented on #16
Render texture mode was added in v0.2.0. You can use this mode to send frames rendered with HDRP.

https://github.com/keijiro/KlakSpout/releases/tag/v0.2.0

[2018-09-15 13:51] keijiro commented on #16
I'm closing this issue. Please feel free to reopen for further questions.

[2018-09-15 13:51] #16 closed, assigned to keijiro

[2018-09-15 13:52] keijiro commented on #17
Render texture mode was added in v0.2.0.

https://github.com/keijiro/KlakSpout/releases/tag/v0.2.0

I'm closing the issue now. Please feel free to reopen for further questions.

[2018-09-15 13:52] #17 closed, assigned to keijiro

[2018-09-15 13:54] keijiro commented on #8
FYI: I added max senders setting support in v0.2.0. Now you can change the maximum number of senders using SpoutSettings.exe.

https://github.com/keijiro/KlakSpout/releases/tag/v0.2.0

[2018-09-18 11:53] sasa42 opened #19 "Crash after adding Spout Receiver"
Unity 2018.2.8f1
or
Unity 2018.2.6f1
Dx 11
KlakSpout Version 0.2
Windows 10 Enterprise

[Crash_2018-09-18_113945015.zip](https://github.com/keijiro/KlakSpout/files/2392521/Crash_2018-09-18_113945015.zip)

Create empty project in 2018.2.8f1 or Unity 2018.2.6f1
import KlakSpout.unitypackage v0.2
Create Empty
Add Component Spout Receiver
Crash

Spout version update and x86 support is working fine.

[2018-09-18 13:35] keijiro commented on #19
Thanks for porting the issue. I fixed it in v0.2.1.

https://github.com/keijiro/KlakSpout/releases/tag/v0.2.1

[2018-09-25 06:07] keijiro commented on #19
I'm closing this issue (assuming it's fixed in the latest version). Please feel free to reopen if it still reproduces.

[2018-09-25 06:07] #19 closed, assigned to keijiro

[2018-09-25 06:24] erikhric opened #20 "CPU mode support"
I can see all of my spout senders in resolume arena and in any demo app for receiving spout input.
When I play any of the streams I always get only blank black screen.
Has anybody had this issue before? Can specific graphics card be problem?
When I play demo app I can receive any other spout application even the demo itself.

[2018-09-25 09:55] keijiro commented on #20
Which "demo app" are you trying? Is it a demo sender/receiver app included in the official Spout package, or example scenes included in this package (KlakSpout)?

[2018-09-25 13:20] erikhric commented on #20
I'm using Unity Scene Included in project to receive output from Spout sample sender and it works.
But when I try to do the opposite - stream from unity via KlakSpout to demo receiver or resolume arena I get only black screen. All of the senders are listed, but when I select them they only show black screen.
Thank you for your assistance in this matter.

[2018-09-26 02:36] keijiro commented on #20
Thanks for clarification. Hmm, weird. The sender implementation is fairly simple and rarely has trouble. Could you send the [editor log](https://docs.unity3d.com/Manual/LogFiles.html)? I'd like to look into it.

[2018-09-26 12:59] erikhric commented on #20
Thank you for the quick reply. Here is the log file:
[Editor.log](https://github.com/keijiro/KlakSpout/files/2419729/Editor.log)

Spout demo sender is working flawlessly in Resolume Arena:
![spout-cam1-working](https://user-images.githubusercontent.com/5880119/46081311-824ddd00-c19c-11e8-8ae4-576a109136e1.png)

But klakSpout sources are still black like this:
![sput-dx11-cpu-sender-not-working](ht

[2018-09-26 14:00] keijiro commented on #20
Thanks for providing the information.

I noticed that the window title contains the word "CPU" -- indicating that it's running in the CPU mode. It means your PC doesn't support NV_DX_interop extension, so the textures are not actually shared between apps (transferred via CPU instead).

I wonder if it actually doesn't. As far as I know, most GPUs support it (including AMD, Intel ones). Are you usin

[2018-09-26 15:12] erikhric commented on #20
We are trying to run this on computer with integrated intel graphics running on latest version of the driver. Name ' Spout DX11 CPU Sender' comes from the demo sender application.

![spout dx11 cpu sender-explanation](https://user-images.githubusercontent.com/5880119/46089512-f8f3d600-c1ae-11e8-8474-309d9719fe06.png)

[2018-09-26 15:22] michalkrendzelak commented on #20
Hello keijiro,
I am working on the project mentioned above together with Erik. I would like to ask what is the difference between spout inputs that I see in resolume:
- Direct show capture devices / Spout Cam 1
- Spout / [sender name for example ' Spout DX11 CPU Sender' ]
(because first one works with demo sender, other not + for all other builds we have no option : 'Direct show capture devices /

[2018-09-26 15:40] keijiro commented on #20
Please ignore Spout Cam. You shouldn't use it if the application supports Spout.

[2018-09-26 15:44] michalkrendzelak commented on #20
ok, understood. do you have any advice for us what should we do next?
Do you need any additional information from us? thx again.

[2018-09-26 15:54] keijiro commented on #20
I don't have any PC that lacks NV_DX_interop support -- actually I didn't know that there is such a case with the current generation PCs.

I'd admit I have no workaround for this problem. I'll think about how I can test it with my dev environment.

[2018-10-05 09:39] nolwenn-bigoin opened #21 "Build error when KlakSpout folder is moved"
Hello,
I'm trying to build my project with the latest KlakSpout release on Unity 2018.2.8f1. If I let the Klak folder directly under Assets the build succeed. But if I moved it under a sub-folder I get this error : error CS0009: Metadata file `C:\Projets\Test\KlakSpout\MyProject\Assets/Plugins/Klak/Spout/Plugin/x64/KlakSpout.dll' does not contain valid metadata. The error stays if I move the folde

[2018-10-05 14:52] keijiro commented on #21
I haven't tried moving the plugin folder, but I think you have to close Unity Editor before moving it because the dll file can't be moved without terminating the application process. Did you move the folder while  Editor is running?

[2018-10-05 15:20] nolwenn-bigoin commented on #21
Yes, I moved the folder inside Unity Editor. But I've just tried moving it in Windows explorer with Unity closed, and the result is still the same.

[2018-10-05 16:08] keijiro commented on #21
Okay. It reproduced on my side. I'm not sure why but it's resolved after closing and relaunching the Editor. Could you try it? I suspect that there is an issue in the build process of Unity Editor.

[2018-10-08 07:59] nolwenn-bigoin commented on #21
Hello, yes same on my side, the build works if I relaunch the Editor.

[2018-10-09 08:00] keijiro commented on #21
Thanks for clarification. I filed a bug report about it as an Editor issue.

Please use the workaround (relaunching Editor) until the issue gets fixed.

[2018-10-09 08:00] keijiro commented on #21
I'm closing this ticket. Please feel free to reopen for further questions.

[2018-10-09 08:00] #21 closed, assigned to keijiro

[2018-12-04 16:40] petecleary opened #23 "Not Sending when Graphics set to Lightweight Pipeline"
I have no issues in running Spout Sender on a project with no scriptable render pipeline set, as soon as I assign a Lightweight Pipeline to generate shaders using the Shader Graph the sender fails.

[2018-12-05 02:42] keijiro commented on #23
Did you use the render texture mode? At the moment it doesn't support SRP (LWRP/HDRP) in the camera capture mode. Please refer to the README for details.

[2018-12-05 13:24] petecleary commented on #23
Thank you, it works when set to a texture as you suggest.

[2018-12-05 13:24] #23 closed, assigned to keijiro

[2018-12-11 11:08] Tilix4 opened #24 "Unity Fatal Crash after adding Spout Receiver"
This is related to #19 that I cannot reopen then I create a new issue.

Unity version : 2018.2.17f1

import KlakSpout.unitypackage v0.2
Create Empty
Add Component Spout Receiver
Crash

Sender works perfectly.

[2018-12-14 09:57] keijiro commented on #24
Thanks for reporing the issue. It's fixed in the latest version.

https://github.com/keijiro/KlakSpout/releases/tag/v0.2.3

[2018-12-20 02:17] keijiro commented on #24
I'm closing this issue. Please feel free to reopen if it sill reproduces.

[2018-12-20 02:17] #24 closed, assigned to keijiro

[2019-02-24 11:19] Milkorva commented on #20
Hi Keijiro,
Thanks for this Unity's spout version !
I just have one question. I have quite the same problem that other guys. When I play your scene exemple, Spout receiver shows me all the cameras but I've got only a black screen (with the name of the camera). I already check that I'm using DirectX 11 in my player settings. For informations, I don't have Spout problem with other softwares. I send

[2019-02-24 11:40] keijiro commented on #20
@Milkorva Thanks for reporting. Could you send the [Editor log](https://docs.unity3d.com/Manual/LogFiles.html) file?

[2019-02-24 11:49] Milkorva commented on #20
Here it is :)

[Editor.log](https://github.com/keijiro/KlakSpout/files/2897843/Editor.log)

[2019-02-24 12:04] keijiro commented on #20
Hmm, weird. According to your screenshot, the receiver is running in the memoryshare mode. It's only used when the hardware doesn't support direct GPU sharing.

Could you try changing configurations to disable it? I'm not sure how to do it because it's not used by default.

[2019-02-24 12:20] Milkorva commented on #20
You're totally right ! For a project I changed the Spout settings. I put them back and it works perfectly now!
Well done ! :)

[2019-02-24 12:22] keijiro commented on #20
Thanks for shaking it out. I'll add it to the documentation.

[2019-04-13 21:02] newemka opened #29 "Unity 2019.1.0f1 All compiler errors have to be fixed"
I just wanted to try Quad but it doesn't run

[2019-04-13 23:02] Esam-Bustaty opened #30 "Wrong condition for recreating _receivedTexture"
I believe [this](https://github.com/keijiro/KlakSpout/blob/e70b2fd0978ee31f9aecaa04b900f91865527535/Assets/Klak/Spout/Runtime/SpoutReceiver.cs#L145) line should be:

`if (_receivedTexture != null) Util.Destroy(_receivedTexture);`

[2019-04-14 12:46] keijiro commented on #29
This issue is came from packages that are incorrectly added by the Unity version upgrader. It can be fixed by removing "Multiplayer HLAPI" and "XR Legacy Input Helpers" packages using Package Manager.

[2019-04-14 12:46] keijiro commented on #29
I'm closing the issue now. Please feel free to reopen for further questions.

[2019-04-14 12:46] #29 closed, assigned to keijiro

[2019-04-14 13:06] keijiro commented on #30
Thanks for pointing it out. Yes, you're right. I fixed this issue in the latest update.

I'm closing this issue now. Please feel free for further problems.

[2019-04-14 13:06] #30 closed, assigned to keijiro

[2019-04-14 13:29] newemka commented on #29
Thank you so much, it works, I'm sorry I should start to learn unity from the begining instead of trying to learn by testing your projects.

[2019-04-14 13:34] keijiro commented on #29
FYI, I updated the project so that now it can be opened with Unity 2019.1.0f1.

[2019-04-17 08:46] TxTx123 opened #32 "Dont't run in Unity2019.1 with HDRP"
I can't use SpoutKlak Unity2019.1 with HDRP mode.
It works with Unity2018.3 + HDRP.

Please update Spout Klak.
I love it very much.

[2019-04-17 09:24] keijiro commented on #32
I confirmed it works without any problem on Unity 2019.1.0f2 with HDRP 5.13.0.

Please re-check if there is any issue in other parts of the project. If it still reproduces, please provide a minimum project that can reproduce the issue.

[2019-04-19 00:34] keijiro commented on #32
Now I'm closing this issue. Please feel free to reopen if it still reproduces.

[2019-04-19 00:34] #32 closed, assigned to keijiro

[2019-04-26 04:31] txusillo opened #33 "SpoutSender not working on High Definition RP Project"
SpoutSender is not working properly on a High Definition RP.

Ways to reproduce this issue:
-Create a New Project and select Hight Definitio Rp.
-Import KlakSpout package
-Attach SpoutSender Script to Main Camera

Unity Version: 2018.3.12f1

Would you help me with this issue?

Thank you for your work, it has been really useful

[2019-04-26 07:05] keijiro commented on #33
Please note that the Camera Capture mode isn't supported in scriptable render pipelines. You have to use the Render Texture mode. Please take a look into `README.md` for further details.

[2019-04-26 07:06] keijiro commented on #33
I'm closing this issue. Please feel free to reopen for further questions.

[2019-04-26 07:06] #33 closed, assigned to keijiro

[2019-04-26 17:24] txusillo commented on #33
Thank you for replying. I did read the readme, but didn't know that the camera was set in Scriptable Render Pipeline (Im new to Unity).

By Render Texture Mode, you mean render the camera that is using a scriptable render pipeline as a texture, apply it to a plane, and then add a normal camera with the spoutsender script?

Thank you.

[2019-04-29 14:03] benkuper opened #34 "Auto select first available receiver"
Hey,
awesome plugin, as always with Keijiro :)
When I created Unity Spout Plugin before Klak was out (and better), the default behavior when texture name is empty in a Spout Receiver was to take the first in list.
It's very useful to be able to quickly see something / switching between senders, or not having to set it up when exporting for a system that will only have one shared texture, but we do

[2019-05-21 13:20] Aoost opened #35 "Question: Spout for 360 Output"
Hi Keijiro,

First off thank you for all your awesome work.

I was wondering if you could recommend software to output 360 video content to other software (ie. touch designer) instead of only the Game view width?

[2019-05-22 05:48] keijiro commented on #35
Unfortunately, I have no experience on 360-degree video. I'd recommend asking an expert rather than me.

[2019-05-22 05:48] keijiro commented on #35
I'm closing this issue now. Please feel free to reopen for further issues.

[2019-05-22 05:48] #35 closed, assigned to keijiro

[2019-05-30 09:26] sipv1612 opened #36 "Dont't run in Unity2019.1 with post processing."
I can't use SpoutKlak Unity2019.1 with post processing component in camera.
Please fix it.
Thank you.

[2019-05-30 09:32] keijiro commented on #36
Thanks for reporting the issue. Could you provide a minimum project that can reproduce the issue?

[2019-05-30 10:17] sipv1612 commented on #36
I've attached the file included the project and a screenshot. (I use resolume to display spout signal). Thank you for your time!
https://drive.google.com/file/d/1ybcMOpRazMPgLfW7ybvH73NqeoiyCeok/view?usp=sharing

[2019-06-01 06:02] keijiro commented on #36
It works correctly with the [SpoutReceiver](https://github.com/leadedge/Spout2/blob/master/DEMO/SpoutReceiver.exe) example in the SDK.

I noticed that the output from Post Processing Stack doesn't contain alpha -- in other words, alpha = 0.0 for all pixels. That might be why it got black on the Resolume side. You should stop using alpha or look for a way to recover alpha after post processing.

[2019-06-12 00:07] cloaking3000 opened #37 "Flicker in spout receiver"
I am using Resolume 6 to send video onto geometry using spout receiver and it is strobing inside unity.  I thought was an issue with HDRP but also getting in standard.  Any ideas how to fix this?
Also it used to work, I am currently using unity 2018.3.of2

Thanks so much (:

[2019-06-18 03:26] keijiro commented on #37
Please check if it reproduces with a simple project, like the sample scene in this repository.

[2019-06-18 22:49] cloaking3000 commented on #37
I've tested it in a basic startup 3d project with no additions besides spout.  I have installed a few different version of unity and the issue persists, however I can't find sample scene in the project

[2019-06-19 00:10] cloaking3000 commented on #37
I tried installing resolume and unity on a new computer and the issue is still there.  I tried disabling v-sync and a few other graphics and changing the frame rate etc

[2019-08-06 00:48] Esam-Bustaty commented on #37
I had (probably) the same problem and I think I got it.

To reproduce all you need is a receiver with `targetRenderer` but WITHOUT `targetTexture`.

I tested on Unity 2018.2 and 2019.1, it happened only on 2019.1.

A warning is logged a lot saying `Releasing render texture that is set to be RenderTexture.active!`.

I found 2 workarounds:
Either change [this](https://github.com/keijiro/KlakSpout/bl

[2019-08-06 00:51] Esam-Bustaty commented on #37
I also just tried a third solution which is to modify `Utils.Destroy()` like this:

    internal static void Destroy<T>(ref T obj)
        where T : Object
    {
        if (obj == null) return;

        if (Application.isPlaying)
            Object.Destroy(obj);
        else
            Object.DestroyImmediate(obj);

        obj = null;
    }

and then adding the keyword `ref` to every call.

[2019-08-19 12:33] sasa42 commented on #37
Hi,
similiar behaviour in

Unity_2019_1_14f1
and
Unity_2019_2_1f1
with
Klak_Spout  v0.2.4

on a simple sender and receiver scene.
The Flicker from high frequence only happens in PlayMode.

[2019-08-20 20:02] sasa42 opened #38 "IL2CPP build issue"
Unity 2019.1.14
Windows 10
Scripting Backend IL2CPP
Spout 0.2.4

I get following build error

KlakSpoutGlobal.h(6): fatal error C1083
cannot open “Spout/SpoutDirectX.h
No such file or directory

Scripting Backend Mono works fine.

[2019-08-28 21:46] sasa42 commented on #37
Thanks for the fixes.
Is there a recommendation for one of the 3 methods
and could one ofthem be integrated in an new release?

[2019-10-02 12:58] mrarashiyan opened #39 "problem with ATI Radeon HD 6420"
Hi,
I've tried to run a Unity project included Spout sender on a pc with AMD Radeon HD 6450 but game crashes and displays "ATI Radeon Driver Stop Working" message. I've run this project on another computer before (with Geforce Graphic).
I just want to know is there any special compatibility for running a Spout Sender in unity?
Thank you

[2019-10-02 13:29] keijiro commented on #39
KlakSpout doesn't support "CPU mode" that is implemented for old/low-end hardware. The problem is that I don't have any device that requires the CPU mode, so I can't test it.

[2019-10-03 05:02] mrarashiyan commented on #39
Thank you Keijiro, I used your code in different situations and worked really good. :)
Is there any way that I can use a Spout Sender in "CPU Mode" ?

[2019-10-03 05:34] keijiro commented on #39
I can't remember details, but I think it's not easy. It may require modification in several parts of the code.

[2019-10-08 07:25] keijiro commented on #39
I'm closing this issue ticket now as duplication of issue #20

[2019-10-08 07:25] #39 closed, assigned to keijiro

[2019-10-24 15:06] sasa42 commented on #38
Hi,
we rely heavily on Spout in our scenario

Unity 2019.2.10
 Windows 10
 Scripting Backend IL2CPP
 Spout 0.2.4

I get a still following build error

KlakSpoutGlobal.h(6): fatal error C1083
 cannot open “Spout/SpoutDirectX.h
 No such file or directory

We would get some 6% to 8%
performance benefit with an IL2CPP build.

Some questions.
Do you think it is possible to allow IL2CPP builds with Spou

[2019-10-24 15:14] keijiro commented on #38
Something wrong is happening on your side. `KlakSpoutGlobal.h` shouldn't exist in a project directory. Did you import the plugin using `KlakSpout.unitypackage`? I'd recommend removing KlakSpout files from your project and re-importing it using the latest `KlakSpout.unitypackage` file.

[2019-10-30 05:26] keijiro commented on #38
I'm closing this issue now as I assume it has been already solved. Please feel free to reopen for further questions.

[2019-10-30 05:26] #38 closed, assigned to keijiro

[2019-12-04 13:58] phields opened #41 "Not working in SRP"
OnRenderImage is not support in SRP/LWRP
https://docs.unity3d.com/Packages/com.unity.render-pipelines.lightweight@5.10/manual/lwrp-builtin-feature-comparison.html

[2019-12-04 14:26] phields commented on #41
solved with using render texture mode

[2019-12-04 14:55] phields commented on #41
Could I put this input SRP with CustomRenderPassFeature?

[2019-12-05 01:23] keijiro commented on #41
As far as I know, `CustomRenderPassFeature` only works with URP (LWRP). This plugin should be compatible with HDRP too (I mainly use it with HDRP).

Please use the render texture mode for a while. I'd like to add a better solution, but I don't have any good idea at the moment.

[2019-12-05 01:23] keijiro commented on #41
I'm closing this issue now. Please feel free to reopen it for further problems.

[2019-12-05 01:23] #41 closed, assigned to keijiro

[2019-12-12 19:24] violetforest opened #42 "Source Name property for Spout Sender camera component?"
Hey, is it possible to add a source name property to the Camera capture mode sender component?

I have 4 cameras in a unity scene for a projection mapped room and I'm getting instructions to "send Textures to the mapping system via Spout. The textures Spout names to share are "x", "y", "z", and "a"."

Thanks

[2019-12-13 03:10] keijiro commented on #42
SpoutSender uses its name (GameObject's name) as a spout source name, so what you have to do is just renaming your game objects to "x", "y", "z" and "a".

[2019-12-13 03:11] keijiro commented on #42
I'm closing this issue now. Please feel free to reopen for further problems.

[2019-12-13 03:11] #42 closed, assigned to keijiro

[2019-12-16 09:51] TaanielAI opened #43 "Project build with Unity 2019.3.0f1 and windowed option enabled can cause the game to become (not responding)"
Steps to reproduce:
- Build project for Windows (architecture x86_64) with Unity 2019.3.0f1 with Fullscreen mode: Windowed;
- Open executable/game;
- Activate Spout DX11 Sender (or any other might do as well);
- Play around with sender (for instance moving the background etc) for half a minute or so;
- When trying to activate the built game, window goes into "not responding" state.

When closing S

[2020-01-06 17:28] prisonerjohn opened #44 "Float texture receiver not working with negative values"
I'm sending a texture in `RG_32F` format.

It appears to be coming in correctly in both the Spout Receiver example and Touch Designer, but not in Unity. The Unity receiver looks like it's flipping the negative values to always be positive. I am setting up my render texture with format `R32G32B32A32_SFLOAT`.

![Spout-Receiver](https://user-images.githubusercontent.com/119702/71835604-f8b7db00-307f-

[2020-01-07 00:38] keijiro commented on #44
It's one of the limitations of the current implementation; The texture format is hardcoded as ARGB32.

If you need a workaround, try modifying the following lines.

https://github.com/keijiro/KlakSpout/blob/master/Assets/Klak/Spout/Runtime/SpoutReceiver.cs#L139

https://github.com/keijiro/KlakSpout/blob/master/Extras/KlakSpoutPlugin/KlakSpout/KlakSpoutSharedObject.h#L127

[2020-01-08 18:32] prisonerjohn commented on #44
Ok, thanks for this!
I added an editable field for the `TextureFormat` and that seems to work. If I have a bit more bandwidth, I'll clean it up and try to get the format from the incoming texture raw pointer and send a PR.

[2020-01-28 10:45] Barbelot opened #45 "One sender always remains in receiver source list even after all senders are closed"
Hello,
Thank you for this amazing plug-in !

I am trying to implement an automatic selection of the first source available in the receiver (as mentionned in https://github.com/keijiro/KlakSpout/issues/34) and I run into a problem where once at least one sender as been seen, the receiver name list never goes back to empty even when I close all senders. One sender always remains even though it is no

[2020-02-28 02:04] CharStiles opened #48 "Stops working when switch platform to UWP"
Hi!
Thanks for making this plugin.
I found when you make a blank project & add klakSpout to the camera & make sure it works, then switch the build platform to UWP (Universal Windows Platform) in build settings then hit play klak no longer sends to spout.
Unity 2019.3.3f1
Im using spout DX11 Receiver to test it
Best,
Char

[2020-02-28 02:13] keijiro commented on #48
Unfortunately, Spout doesn't support UWP.

[2020-02-28 02:14] keijiro commented on #48
I'm closing this issue now. Please feel free to reopen it for further problems.

[2020-02-28 02:14] #48 closed, assigned to keijiro

[2020-02-28 15:23] CharStiles commented on #48
Thank you so much for your fast response! One more quick question if I can- is there anyway to share a texture out of a UWP build? NDI?
Again, I appreciate your hard work

[2020-02-29 07:09] keijiro commented on #48
NDI doesn't support UWP, either. I'm afraid that there is no convenient way to share a texture from a UWP app.

[2020-03-24 11:13] Filmengineers opened #50 "The plugin doesn't work with Unity 2019.3.6f1. Anyone experiencing the same?"
The spout receiver shows the "Sender IDs" in the drop down. But it doesn't receive anything from the sender to render texture.?

[2020-04-03 21:09] eduardfrigola commented on #50
I found someone with the same problem, same symptoms, but with Unity 2019.3.7f1 and the fix was going to spout configure tool /SPOUTSETTINGS/SpoutSettings. And selecting Nvidia optimus mode to: "high performance" and/or changing spout sharing mode to GPU, as seen in this forum post: https://spout.zeal.co/forums/topic/spout-error-cannot-create-directxopengl-interop/

Maybe it is not the same proble

[2020-04-04 12:45] Filmengineers commented on #50
It worked! Thanks a ton!

[2020-04-04 12:45] #50 closed, assigned to keijiro

[2020-04-18 10:03] keijiro commented on #20
The CPU mode support is going to be removed in Spout SDK 2.007, so I'd like to abandon the CPU mode support in this plugin.

[2020-04-18 10:03] #20 closed, assigned to keijiro

[2020-04-18 10:04] keijiro commented on #36
I'm closing this issue. Please feel free to reopen for further problems.

[2020-04-18 10:04] #36 closed, assigned to keijiro

[2020-04-18 13:16] keijiro commented on #43
I tried to reproduce this issue with Unity 2019.3.10f1, but I couldn't. I'm closing this issue now, but please feel free to reopen it if it still reproduces with the latest version of Unity (I'd appreciate if you could attach a minimal project that reproduces the issue).

[2020-04-18 13:16] #43 closed, assigned to keijiro

[2020-04-19 12:42] keijiro commented on #45
Fixed in 2a42ab8

[2020-04-19 12:42] #45 closed, assigned to keijiro

[2020-04-19 13:01] #37 closed, assigned to keijiro

[2020-04-19 13:02] keijiro commented on #37
Thank you very much for suggesting the fix. I applied it in 7eb9fd5

[2020-05-23 02:24] Ethan-N opened #51 "Build and Run not working despite normal editor working"
I am using the Spout Sender script and it seems to be working normally when I use the in-editor play button, but when I try to use build and run, the program still seems to run normally but any Spout Receiver I try to connect gets "Cannot create directx/opengl interop" or other errors along those lines. If I build with the development build setting on, the receiver picks up what I think is the fir

[2020-05-28 15:43] timwei919 opened #52 "Does Spout work in Unity when using HDRP ?"
Hello,
I am using Unity's Visual Effect Graph function,
To use this function, it must be under HDRP.

So I would like to ask if Spout can be executed in this situation?
Because I add the spout sender component on Camera (like the way we are familiar with),
However, the image cannot be transmitted.

So I would like to ask if Spout(Not even NDI) can run under HDRP? is there any other reason?

Thanks

[2020-05-29 05:41] keijiro commented on #52
It supports HDRP but you have to use the render texture mode. Please see README.md for details.

[2020-05-29 06:45] timwei919 commented on #52
Thank you very much for your assistance, I missed this feature.

[2020-05-31 16:46] Ethan-N commented on #51
Hi, are there any updates on what the problem might be here? Despite making various tweaks, the same bug still seems to be happening. I am using Unity 2019.3.10f1 if that helps.

[2020-06-02 07:03] #52 closed, assigned to keijiro

[2020-06-05 06:18] Ethan-N commented on #51
Update on the issue, the problem seems to be that the SpoutSender only send signal when the Sender is attached to a Camera that is currently being used by the display selected. Is this expected behavior, and would there be any way to change it so that the it sends signal even when it is not on the current display?

[2020-06-05 06:47] keijiro commented on #51
Are you using multiple displays and GPUs?

[2020-06-05 06:51] Ethan-N commented on #51
Sorry for being unclear, displays referring to the different camera views that multi-display allows in unity, and it's all only running off of one GPU.

[2020-06-05 07:56] keijiro commented on #51
That's an expected behavior. You have to use the render texture mode for off-screen renders.

[2020-06-08 00:43] Ethan-N commented on #51
Thanks, the sender now works even when the render is happening off-screen. However, even when switched to render texture mode, the same bug occurs during Build and Run. Is there a specific build setting that could fix this?

[2020-06-09 17:48] TShepp commented on #51
Hi, I have the same issue. I'm sending a rendered texture from Unity to Openframeworks. It works perfectly fine in Editor mode
![UnitytoOfxCube](https://user-images.githubusercontent.com/59926533/84181632-323da980-aa57-11ea-8700-88da96951f4d.png)
, but when I try to use a Standalone Build I get the following error message
![SpoutTest (Debugging) - Microsoft Visual Studio  6_9_2020 1_29_09 PM (2)](

[2020-06-10 01:47] keijiro commented on #51
Thanks for additional info. Could you provide the player log? https://docs.unity3d.com/Manual/LogFiles.html

[2020-06-10 13:56] TShepp commented on #51
Here is the player log. The Unity standalone build continues to run in the background when this error pops up.
[Player.log](https://github.com/keijiro/KlakSpout/files/4758915/Player.log)

[2020-06-18 21:20] TShepp commented on #51
Update. I switched from using ofxSpout2 to ofxSpout in Openframeworks. This seems to have fixed the crashing issue, but the same problem persists where the rendered texture only sends in Editor mode, but not in the Standalone build.
![UnitytoOfxUpdate](https://user-images.githubusercontent.com/59926533/85072781-a1b64600-b187-11ea-9379-c4f434528637.png)
Here is the player log.
[Player.log](https://

[2020-06-26 14:27] bgnt44 commented on #51
Hello, just to add some insights, first thanks for this amazing plugins, im trying to integrate Unity -> resolume
In Editor/Play mode it works really well but on runtime i get really low fps on the spout sender, i've add a plane in front of the game camera to be sure it wasnt a render texture issue but it really seems that the spoutsender "lost frames"

[2020-07-18 17:35] UnquotidianVi opened #53 "SpoutSender not sending render texture when using LWRP"
I was able to get everything working on a fresh Unity project. But I have two older projects which I have tried to link to Spout, by using the render texture feature. Render texture is updating, and SpoutSender contains a reference to the correct Render Texture, also the SpoutSender is in an active gameobject.

Only commonality that I could think between these two older projects is that they both

[2020-07-18 17:43] UnquotidianVi opened #54 "README: Source Selector example link not valid."
"Source Selector example" -link's file doesn't exist in the current commit. README.md line 157

[2020-07-19 05:00] keijiro commented on #54
Thanks for pointing it out. I fixed in the latest commit.

[2020-07-19 05:00] #54 closed, assigned to keijiro

[2020-07-19 05:02] keijiro commented on #53
First of all, please check if the project is using the DX11 graphics API mode.

[2020-07-19 08:40] UnquotidianVi commented on #53
I actually was able to find the issue. I had accidentally left the build target to be targeting Linux. Sorry for the issue.

[2020-07-19 08:40] #53 closed, assigned to keijiro

[2020-08-12 11:30] xiaoge777888 opened #55 "Modify the param “format” of the function "setupSender" to "DXGI_FORMAT_B8G8R8A8_UNORM",cann't receive the i"
Modify code:
//const auto format = DXGI_FORMAT_R8G8B8A8_UNORM;
const auto format = DXGI_FORMAT_B8G8R8A8_UNORM;
result:
cann't receive Image.

[2020-08-12 12:48] keijiro commented on #55
I think you also have to modify C# code.

[2020-08-12 12:48] keijiro commented on #55
I'm closing this issue now. Please feel free to reopen it for further issues.

[2020-08-12 12:48] #55 closed, assigned to keijiro

[2020-09-01 03:30] phields opened #56 "Any plan to add SharedMemory mode support?"
The 2.007 SDK has improved the memory shared mode.
it's not based on CPU now.
Memory share mode improved
Performance of shared memory functions has been improved by using
multiple pixel buffers to load from and upload to OpenGL textures and
remains a backup where hardware is not texture share compatible.

[2020-09-01 04:13] phields opened #57 "Memory leak with SpoutCam.ax in OBS studio"

[2020-09-01 04:16] keijiro commented on #56
Yes, but I'm still waiting for 2.007 official release.

[2020-09-01 04:16] #56 closed, assigned to keijiro

[2020-09-01 04:17] keijiro commented on #57
Could you provide details?

[2020-09-01 05:43] phields commented on #57
https://github.com/leadedge/SpoutCam
I use this project's with KlakSpout in OBS studio
The source has picture output, but the OBS's memory keeps going up.
![image](https://user-images.githubusercontent.com/31947421/91799105-f0d52880-ec58-11ea-8052-3afa6070ce85.png)

[2020-09-01 05:46] phields commented on #57
There is no memory leak in unity processes.
This will only happen in applications that use a virtual camera, speculation is that this may be caused by updating a new version of the SpoutCam.ax file.
The same things happening in the OpenGL branch.
https://github.com/leadedge/SpoutCam/tree/OpenGL

[2020-09-01 05:50] keijiro commented on #57
I think I can do nothing with this issue. Someone should fix it on the OBS side.

[2020-09-01 05:52] phields commented on #57
If I use the original SpoutSender, the memory leak issue doesn't happen.
I tried upgrading and compiling a new version of the SpoutSDK, but the problem persists, probably due to the fact that I commented out this code (Unity will crash if I don't remove it)
![image](https://user-images.githubusercontent.com/31947421/91799830-70172c00-ec5a-11ea-80ad-918fa9048f97.png)

[2020-09-01 05:59] keijiro commented on #57
Do you mean SpoutSender v2.007? If so, how about SpoutSender v2.006?

If the issue reproduces with SpoutSender v2.006, there might be a backward compatibility issue in the Spout SDK. It should be reported to the Spout devs.

[2020-09-01 06:01] phields commented on #57
I just tested the problem on Spout version 2.005 and there is a memory leak.
This is indeed an official backward compatibility issue, thank you for your time!

[2020-09-01 06:21] #57 closed, assigned to keijiro

[2020-09-03 03:47] phields commented on #56
I created a branch that upgraded to 2.007 and it's working fine now.
https://github.com/phields/KlakSpout
Seems like KlakSpout doesn't have too many parts that need to be changed, I hope this helps!
In the meantime, I'm looking for ways to add memory sharing compatibility...

[2020-09-10 22:40] Zudva opened #58 "he type or namespace name 'Spout' does not exist in the namespace 'Klak' (are you missing an assembly reference"
Hi!

I have this error in Unity 3d version: 2019.4.8f1:

[code]

In Unity 3d version 2020.2.0b1.2959 all work normal.

[2020-09-11 01:51] keijiro commented on #58
It doesn't reproduce with Unity 2019.4.9f1.

I'm closing this issue as non-reproducible. Please feel free to reopen it if you can share a minimal project that reproduces the issue.

[2020-10-27 16:59] spee commented on #58
I'm encountering this issue in a project where Klak.Spout is being used as a dependency of another package. After adding the scopedRegistries entry, the dependency gets downloaded, but the same error as OP's is thrown.

[2020-10-27 18:19] BenWoodford opened #59 "Check last frame time for feed?"
(Fantastic little plugin by the way, saved me loads of time)

Is there a way to grab the timestamp of the last successful frame from a feed? I'd like to check it and if one hasn't been provided in a while, and handle it as though the submitting application is lagging behind for whatever reason and tell the user, rather than leaving them with a static image.

[2020-10-28 01:04] keijiro commented on #58
@spee Could you share a minimal project that reproduces the issue? I think it can be reproduced with a very simple project if nested dependencies are the root cause of the problem.

[2020-10-28 01:26] keijiro commented on #59
Unfortunately, it's not possible. Spout is just a wrapper class for shared memory, so it can't detect modifications on it.

You can check if the sender is still alive by comparing `_plugin` with `System.IntPtr.Zero`.

https://github.com/keijiro/KlakSpout/blob/master/Packages/jp.keijiro.klak.spout/Runtime/SpoutReceiver.cs#L64

[2020-10-28 01:26] #59 closed, assigned to keijiro

[2020-10-28 11:36] spee commented on #58
Thanks for your quick reply. I was going to create an empty project for your but I figured it out already!
In my own package's `.asmdef` file's inspector, I had to add `Klak.Spout.Runtime` to the Assembly Definition References.

[2020-10-28 11:53] #58 closed, assigned to keijiro

[2020-11-04 15:20] sasa42 opened #60 "DX12 support"
Hi,

i had a conversation with leadage from spout2.
https://github.com/leadedge/Spout2/issues/55#issue-732417038

he pointed me to the D3D1211On12 feature which is enableing Spout compatibility for ray tracing
https://github.com/leadedge/Spout2/issues/55#issuecomment-719066717

Do you see a chance to get DX12 support for KlakSpout?

Your NDI DX12 solution works great but it s to slow for our use c

[2020-11-04 23:41] keijiro commented on #60
The short answer is no.

Even though if I used the 11-on-12 features, I would have to spend lots of time for R&D.

I'm still waiting for the Spout 2.007 release. Upgrading to 2.007 is the most important task for this plugin. All the other things are paused until it happens.

[2020-11-04 23:42] keijiro opened #61 "DX12 support"

[2020-11-04 23:43] keijiro commented on #60
I'll continue considering DX12 support on #61

[2020-11-04 23:43] #60 closed, assigned to keijiro

[2020-11-19 16:46] DenverIW opened #62 "KlakSpout Fails to Display Spout texture created from separate display adapter."
KlakSpout will fail to display the Spout shared texture if it was not created on the same graphics display adapter. Testing this requires use of a machine with multiple display adapters (in my particular case, an IGPU - Intel UHD graphics, and a GPU - NVIDIA 2080 Super ). The attached project is simply a new Unity Project (2019.4.10f1) with klakspout included following the directions on the github

[2020-11-19 23:57] keijiro commented on #62
My understanding is that Spout only supports sharing textures in a single GPU. Could you check if other Spout-compatible apps work as you intended with your setup?

[2020-11-20 18:08] DenverIW commented on #62
I think you are correct and I misunderstood Spout's capabilities. I thought this was possible running Spout through CPU mode. I know that is used as a fallback to NV_DX_interop being unavailable but I incorrectly assumed this could also address applications on separate GPUs.

Thanks for pointing that out!

[2020-11-20 18:09] #62 closed, assigned to keijiro

[2020-12-26 22:52] amusedamused commented on #51
Is unity versions above 2019.3 not supported? Im working in 2019.4 and i get a spout source in resolume (called main camera) but the screen is all black.

[2020-12-27 20:50] amusedamused commented on #51
Hi! Im having this issue too, using klak spout and resolume arena 6 , it was working first but then suddenly i get the same error messege. I dident change anything in the settings between it working and not. :O
also it works fine in the spout reciver, but resolume craches.
edit: i changed the spout ssettings a bit back and forth and now it works again with the same settings as before when it stope

[2021-01-11 06:33] caseyfarina commented on #51
I'm using  Unity 2020.1 and having the same issue. Everything works great sending from the Unity Editor in render texture mode. However, when I build a standalone application, nothing is sent to the Spout Viewer or MadMapper. I appreciate all your work Kiejiro! Arigato gozaimasu!

[2021-01-11 09:35] amusedamused commented on #51
Have you tried going into the spout settings and resetting them a few
times? That worked for me, its probably a bug on the spout end i would
guess. :)

mån 11 jan. 2021 kl. 07:33 skrev Casey Farina <notifications@github.com>:

[2021-01-28 12:28] Fenikkel commented on #51
Having the same isue using render texture mode (working without a camera in unity) with the Unity version **2019.4.18f1** and the receiver is Mad Mapper.

 Two month ago with the Unity version **2019.3.10f1**, I've done exactly the same with a similar project and it worked perfectly!

 Anyway, thanks for all Kejiro! You are the best!

[2021-02-01 08:47] Fenikkel commented on #51
I've made a new build with this project and the streaming doesn't work anymore. The build made in 19 oct 2020 works perfectly-

[2021-02-02 08:14] Fenikkel commented on #51
I cloned the Kejiro's KlakSpout project and test it from there.

**While you have the project opened in Unity (not in play mode), the build won't work.** You need to close before Unity to make it work. Also, it doesn't starts inmediatly. Let pass a few seconds and you will have it in Madmapper at least.

I tested this in differend versions of Madmapper.

**Edit:**
Upgraded Kejiro's project to vers

[2021-02-10 08:36] lucidtripper opened #63 "klakspout breaks vive trackers in unity"
I'm developing vive-tracked live digital avatar performance capture and multi-cam LED wall - I got Klakspout to work - but then discover my vive trackers stopped working - so i delete your lines in manifest and trackers spring back to life! now Klak's dead

using 2019.4.14f and also tried 2019.2.20f1

help? can i have both klakspout and vive trackers?

[2021-02-10 08:53] keijiro commented on #63
First of all, I don't have any experience on Vive Tracker, so I have no idea about the issue.

Is there any error/warning message on console?

[2021-02-23 04:59] keijiro commented on #63
I'm closing this issue due to inactivity. Please feel free to reopen it for further problems.

[2021-02-23 04:59] #63 closed, assigned to keijiro

[2021-03-02 02:44] keijiro opened #64 "Spout v2.007 support"
TBD

[2021-03-04 22:22] ToxMox opened #65 "What is the appropriate way to modify SpoutReceiver.cs without it being overwritten by the ScopedRegistry?"
Hi,

I'm trying to make some changes to my SpoutReceiver.cs code but it keeps being reverted to default. I'm assuming it has something to do with the Scoped Registry setup. What the recommended/appropriate way to modify scripts within a library of a scoped registry?

Thanks!

[2021-03-05 01:22] keijiro commented on #65
This is a general Unity dev question rather than a project-specific question, so I only can give small tips.

When I have to add a modification to a package, I copy the package directory from Library/PackageCaches to Packages, then remove the package entry from manifest.json. Now I can safely modify the contents of Packages.

This is not the optimal way of development nor a recommended method. You

[2021-03-05 01:22] keijiro commented on #65
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-03-05 01:22] #65 closed, assigned to keijiro

[2021-03-05 15:04] ToxMox commented on #65
Ok I understand. So I'm trying to get the width and height from the SpoutReceiver component.
Specifically these:
`var width = PluginEntry.GetTextureWidth(_plugin);
var height = PluginEntry.GetTextureHeight(_plugin);`
Since there is no public reference to those variables in SpoutReceiver.cs in order to use GetComponent is there another way for me to get those values from another script without havi

[2021-03-06 02:05] keijiro commented on #65
The texture dimensions are not publicly available in the current implementation. It makes sense to modify the code if you need them.

[2021-04-06 17:45] Saggex commented on #61
Hi,

just want to ask if there is still active development on this issue.

BR,
Saggex

[2021-04-07 00:24] keijiro commented on #61
Not active yet but I understand it's vital because I'm also using DX12 in some projects.

[2021-04-07 09:23] Tongzhou-Yu opened #66 "Can't work with HDRP?"

[2021-04-07 11:25] keijiro commented on #66
It does work on HDRP.

[2021-04-07 11:25] keijiro commented on #66
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-04-07 11:25] #66 closed, assigned to keijiro

[2021-04-07 14:15] Tongzhou-Yu commented on #66
Once Project Settings>Graphics>SRP Settings is none, both Spout and Spyhon work well, but if SRP Settings is "HDRenderPipelineAsset", either can't work (nothing shows in TouchDesigner's syphonspoutin.

[2021-04-08 01:13] keijiro commented on #66
Did you try the render texture mode? As noted on README, the camera capture mode is not supported on SRP (URP/HDRP).

[2021-04-08 07:25] Tongzhou-Yu commented on #66
Thanks, but still can't work with Spyhon, and have found there is the same question on KlakSpyhon page. Looking for any solution for Spyhon.

[2021-04-08 07:55] keijiro commented on #66
First of all, don't mix up Spout and Syphon. They're completely different technologies.

Please make it clear if you're trying to use Spout on Windows, or Syphon on Mac.

[2021-04-20 16:29] albrrt opened #67 "Multiple-Cameras ?"
Hello,

We have a project where we use 3 cameras to render our scene - because of conflicts with transparent shaders, depth buffer and the depth-of-field effect of the post-processing stack.

If I add a Spout Sender component to each of these 3 cameras, will KlakSpout automatically merge the output of these cameras into a single sprout stream?

Apologies for the question - we are unable to test th

[2021-04-21 00:28] keijiro commented on #67
No.

[2021-04-21 00:29] keijiro commented on #67
You have to composite them before giving them to SpoutSender.

[2021-04-21 00:29] #67 closed, assigned to keijiro

[2021-04-21 00:29] keijiro commented on #67
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-05-14 10:54] ioannismihailidis commented on #44
I'm streaming point clouds from touchdesigner to unity. NDI has no support for floats, so I tested a way with spout. Besides of the texture format issue, I had to disable the gamma lut in "Blit.shader" to fix distortion of 3d positions:

[code]

[2021-05-14 14:07] JohnENoonan opened #68 "Shader Hidden/Spout/Blit does not compile when using stereo instancing"
Hello! I'm using Unity 2021.2.0a15.2125 and the built in renderer. I have stereo rendering enabled for my project which can be viewed in VR or on a normal PC display. When creating a build I receive the following errors
[code]

Using spout receiver still works in the Editor. This issue may be related to a [similar issue found here](https://issuetracker.unity3d.com/issues/hdrp-xr-hidden-slash-hdrp-

[2021-05-14 14:49] keijiro commented on #68
I guess that `appdata_img` is causing this issue. It's probably solved by rewriting the vertex/fragment shaders not to use `appdata_img`.

[2021-06-19 15:27] keijiro commented on #64
Done.

[2021-06-19 15:27] #64 closed, assigned to keijiro

[2021-07-01 09:18] keijiro commented on #68
Fixed in 2.0.0

[2021-07-01 09:18] #68 closed, assigned to keijiro

[2021-07-01 09:18] keijiro commented on #61
Done (2.0.0)

[2021-07-01 09:18] #61 closed, assigned to keijiro

[2021-07-01 09:40] keijiro commented on #34
You can connect to the first available sender by using a script like following:

[code]

[2021-07-01 09:40] #34 closed, assigned to keijiro

[2021-07-01 09:47] keijiro commented on #51
I rewrote the entire code in v2.0.0. It probably has a similar issue, but it's thought to be a different cause and symptom. So I close this issue for now. Please open a new issue if you find a similar one.

[2021-07-01 09:47] #51 closed, assigned to keijiro

[2021-07-02 01:01] keijiro opened #71 "Non-standard texture format support"
Currently, KlakSpout only supports the ARGB32 format. It should support the ARGB_Float format at least.

[2021-07-02 01:03] keijiro commented on #44
I created a new TODO issue: #71

I close this issue for now. Please follow the new issue if you're still interested in it.

[2021-07-02 01:03] #44 closed, assigned to keijiro

[2021-07-08 13:32] MrMahgu opened #72 "Spouts do not function in Unity 2021.2.0b2 standalone builds"
I can not get any spout senders or receivers to function once I export my build via IL2CPP or MONO.  In my case -- using render textures.

All is working in play mode in editor.

Steps to produce:

Unity 2021.2.0b2 -> New Project
Add scoped registries
Install HDRP 12
Install KlakSpout 2.0.1

Add RenderTexture
Configure RenderTexture
Add GameObject
Add Spout Sender
Configure Spout Sender with Rende

[2021-07-09 00:47] keijiro commented on #72
Thanks for reporting it. I found that conditional compilation I added in the last update (v2.0.1) caused this issue. I fixed it in v2.0.2.

[2021-07-09 00:48] keijiro commented on #72
I'm closing this issue as resolved. Please feel free to reopen it if it still reproduces.

[2021-07-09 00:48] #72 closed, assigned to keijiro

[2021-07-20 16:07] MrMahgu opened #73 "KlakSpout fails to update Unity texture on sender start/stop/restart - Unity 2021.2.0b4"
When restarting a spout sender (In my case, non KlakSpout sender) unity fails to pickup that the sender has restarted sending and no texture updates will happen unless the Receiver in Unity is enabled/disabled/restarted.

KlakSpout V1 continued to received the new sender texture without issue.

Steps to reproduce:
Unity 2021.2.0b4 -> New Project
Add scoped registries
Install KlakSpout 2.0.2
Add Pl

[2021-07-21 01:14] keijiro commented on #73
Thanks for reporting the issue. Does it reproduce with SpoutSender.exe? https://github.com/leadedge/Spout2/tree/master/DEMO

[2021-07-21 01:54] MrMahgu commented on #73
Yes.  With SpoutSender.exe it still does not update texture if SpoutSender.exe is closed and re-opened and re-configured.

[2021-07-21 03:32] keijiro commented on #73
Thanks for the information. I'll try reproducing it.

[2021-07-28 14:25] antoniohof commented on #72
I still dont get spout output when in standalone builds :/ even with the new version.

[2021-07-28 14:28] antoniohof commented on #72
I dont get image when using in standalone builds,
spout output appears but is empty.

 maybe you have an idea of whats going on?

[2021-07-28 14:39] antoniohof commented on #72
Im using HDRP, Spout sender set to Camera and unity 2020.03.14f1

[2021-07-29 00:07] keijiro commented on #72
@antoniohof Could you post it as a new issue and attach a minimal project that reproduces the issue?

[2021-08-02 08:40] keijiro commented on #73
Fixed in 2.0.3.

[2021-08-02 08:41] keijiro commented on #73
I'm closing this issue now. Please feel free to reopen it if it still reproduces.

[2021-08-02 08:41] #73 closed, assigned to keijiro

[2021-08-06 14:06] MrMahgu commented on #73
In KlakSpout v1 - the last received frame was left active on the texture
In KlakSpout v2 - the last received frame is discarded and removed

Which is desired for future?

[2021-08-07 00:45] keijiro commented on #73
The spout receiver and its texture are internally removed, but `Receiver.receivedTexture` (backed by `Receiver._buffer`) remains intact until reconnection.

So, from a user's perspective, the last received frame is left active on the texture.

If you find a behavior that removes the last received frame on disconnection, please submit a bug report. That's not my intention.

[2021-09-14 08:08] fortminors opened #74 "Spout Receiver flips the texture by default"
Hello!

I found out that KlakSpout flips the texture internally by default somewhere in the KlakSpout.dll by both X and Y axes.
To reproduce, just launch a SpoutSender.exe demo and observe the texture getting flipped in the Unity project.

Could you please remove it? This doesn't seem to be required for every use case.

Thanks!

[2021-09-14 08:22] keijiro commented on #74
Which version are you using?

If I remember correctly, it's fixed in v2.0.0.

[2021-09-14 08:25] fortminors commented on #74
Thank you for a quick reply. My manifest.json says `"jp.keijiro.klak.spout": "2.0.3"`

[2021-09-14 08:50] keijiro commented on #74
Thanks for the clarification.

That issue doesn't reproduce on my side. Could you provide a minimal project that reproduces the issue on your side?

[2021-09-14 09:31] fortminors commented on #74
Yes sure, where should I send it to you?

[2021-09-14 09:51] keijiro commented on #74
Zip and attach it to a reply.

Exclude the Library folder when zipping it. Then you can make the file small enough, like <1MB.

[2021-09-14 10:07] fortminors commented on #74
[Test.zip](https://github.com/keijiro/KlakSpout/files/7160926/Test.zip)

Here you go, thank you!

[2021-09-14 13:21] keijiro commented on #74
I checked your setup and found that your "Plane" object is placed upside down.

Rotate it correctly, or simply use the Quad mesh.

[2021-09-14 13:21] keijiro commented on #74
I'm closing this issue. Please feel free to reopen it for further problems.

[2021-09-14 13:21] #74 closed, assigned to keijiro

[2021-09-22 12:09] maoge124 opened #75 "The camera capture method with HDRP doesn't work on release builds"
No showing when I run the exe, Unity use HDRP, SpoutSender.Capture method = Camera.
Unity Editor is OK, no showing with exe.

[2021-09-22 12:24] keijiro commented on #75
Could you share a minimal project that reproduces the issue?

[2021-09-22 13:00] maoge124 commented on #75
I have sent it to your email：keijiro@gmail.com.
Thanks

[2021-09-22 13:58] maoge124 commented on #75
I successfully showing the exe frame by spout when I use the _Unity DevelopmentBuid_.But the exe  that build by Release is no showing.

[2021-09-23 08:06] keijiro commented on #75
I confirmed that the issue is caused by HDRP (it works correctly on URP). I reported the issue to the QA team. Please wait for their action. Until then, please understand that this is a known issue. You should use the render texture mode instead as a workaround.

[2021-11-03 22:22] clementshimizu opened #76 "Fix for : NullReferenceException: Object reference not set to an instance of an object at Klak.Spout.Blitter.GetMaterial"
[code]

Klack Spout will not have access to SpoutResources if you add the spoutsender component from a script at runtime.

If I add spoutsender to a camera via scripting, it works fine in edit mode but fails in the build.  The issue is that SpoutResources is connected via an editor script and saved in the editor folder which isn't accessible at runtime.  It is stripped at compile-time.

I have thi

[2021-11-04 00:43] keijiro commented on #76
First of all, it's documented on README.md.

Use of the Resources folder is not recommended in general. At least, I should use Addressables instead of it. But I think most users are not familiar with Addressables, so I chose to use a "dumb way" to manage the resources.

[2021-11-04 00:43] keijiro commented on #76
I'm closing this issue now. Please feel free to reopen it for further problems.

[2021-11-04 00:43] #76 closed, assigned to keijiro

[2021-11-08 23:05] clementshimizu commented on #76
Thank you!  That helps

[2022-01-19 11:11] Fenikkel commented on #76
In my case, I had this error creating senders in texture mode via code, but it was fixed (in editor and also in build) adding a spoutsender to a GameObject and sending the Game View or a simple texture.

I'm using videos that are in the streaming assets folder.

[2022-01-20 23:58] honda2 opened #77 "Sender - Texture Methd - Image in spout cropped by player window size, wrong aspect ratio"
I use Sender with Texture Method.
It seems that resolution or aspect ratio of rendered image is taken from main camera or (game view) - rather than the render texture
Then it's blit into proper sized Spout buffer render texture.

When I change size of a game view (or built player), Image in spout gets cropped accordingly

Unity 2020.3.26
Built-in RP
GTX2080S

[2022-01-27 08:40] keijiro commented on #75
I verified that this issue has been fixed on 2022.1 beta. Also the same fix is coming to 2021.2.9.

[2022-01-27 08:40] keijiro commented on #75
I'm closing this issue now. Please reopen it if it still reproduces.

[2022-01-27 08:40] #75 closed, assigned to keijiro

[2022-01-27 09:15] keijiro commented on #77
I can't reproduce the issue on 2021.2.8f1 with the built-in render pipeline.

[2022-01-27 09:24] keijiro commented on #77
I also checked with 2020.3.26, but it doesn't reproduce.

[2022-01-27 09:24] keijiro commented on #77
I'm closing this issue now as "not reproducible". Please reopen it if it still reproduces (attach a minimal project for reproduction in that case).

[2022-01-27 09:24] #77 closed

[2022-01-30 17:21] vadimkrutovlv opened #78 "Mac OS Support"
I would like to use this plugin on my mac is there any plan to add mac support?

[2022-01-31 01:43] keijiro commented on #78
Spout is a kind of a Windows API wrapper. Obviously, it only runs on Windows.

[2022-01-31 01:43] keijiro commented on #78
I'm closing this issue now. Please reopen it for further problems.

[2022-01-31 01:43] #78 closed, assigned to keijiro

[2022-02-03 14:21] vadimkrutovlv commented on #78
@keijiro thanks for explanation is there any alternative for mac?

[2022-02-03 14:59] keijiro commented on #78
Syphon or NDI.

[2022-02-07 05:30] AlexksGud commented on #76
`NullReferenceException: Object reference not set to an instance of an object
Klak.Spout.Blitter.GetMaterial (Klak.Spout.SpoutResources resrc) (at Library/PackageCache/jp.keijiro.klak.spout@2.0.3/Runtime/Internal/Utility.cs:45)
Klak.Spout.Blitter.Blit (Klak.Spout.SpoutResources resrc, UnityEngine.Texture src, UnityEngine.RenderTexture dst, System.Boolean alpha) (at Library/PackageCache/jp.keijiro.

[2022-02-07 05:48] keijiro commented on #76
@AlexksGud You should set a valid instance of `SpoutResources`, not an empty one.

[2022-02-07 06:03] AlexksGud commented on #76
@keijiro  I know
 " but you must give the
`SpoutResources` asset (which holds references to the package assets) after
instantiation." -i didnt understand this in README
Anyway , I renamed Resources folder in Assets folder , and all works .
But there must be a better way to solve it

[2022-02-07 06:58] keijiro commented on #76
`SpoutResources` is just a subclass of `ScriptableObject`. I'd recommend checking ScriptableObject tutorials for details.

[2022-02-10 18:02] noisecrime opened #79 "White Flash when updated to Unity 2021.2.8f1 (URP 12.1.3)"
So this is a weird one.

I was testing this project ( KlakSpout 2.0.3) after installing Spout 2007 and confirming it work via their Demo send/receive exe.

Everything appear to work with the Test scene of the project, and viewing the output in SpoutReceiver.exe, until I notice an occasional full screen/camera white flash in both Unity and SpoutReceiver. The frequency of the flashing appeared to ge

[2022-02-13 02:33] WoutStandaert opened #80 "Crash when instantiating SpoutReceiver on standalone DX12 build, Unity 2021.2.0.13b, GTX1660 SUPER"
I have a standalone Unity build running on a GTX1660 SUPER.

At a certain moment I try to instantiate a prefab with a SpoutReceiver on it.

The SpoutReceiver renders to a render texture, the "renderer" field is not set.

The render texture is displayed via a RawImage on a UI canvas.

During development, it works in the editor on my laptop with a RTX 2060.

In the build on a GTX1660 SUPER, it crash

[2022-02-13 03:33] keijiro commented on #80
Does it reproduce with the sample project (the project contained in this repository)?

[2022-02-13 21:13] WoutStandaert commented on #80
The sample project also crashes.

I did the following:

- Downloaded the repository
- Opened the project with Unity 2021.2.0.13b, which upgraded some things
- Switched the render API from directx11 to directx12
- Made a build of the "Test" scene

The reason why it crashes is different, but it also seems to be related to DirectX 12 memory management:

[code]

I'm not bound to DirectX12 for my proje

[2022-02-14 01:53] keijiro commented on #80
Thanks for the clarification.

I only found very few similar cases. Unfortunately, the root cause of the problem is unknown. Sometimes it disappears by upgrading the graphics driver.

I'd recommend switching to DX11 if it reproduces with the latest driver.

[2022-02-14 19:05] WoutStandaert commented on #80
Switching to DX11 fixes the problem. Thanks for looking into it!

[2022-02-15 01:25] keijiro commented on #80
I'm closing this issue. Although the issue still exists, there is nothing to do on my side at the moment. I'll reopen it when I get more information about it.

[2022-02-15 01:25] #80 closed, assigned to keijiro

[2022-02-21 07:57] noisecrime commented on #79
opps - i'm an idiot. Just returned to Spout to make a test project using it and literally one of the first scripts I check out by accident is Timecode.cs - yep it contains a Camera.backgroundColor line to make the screen flash white!

Don't understand how I missed it before, I'm sure I did a search for 'backgroundColor' when I first came across the issue as it seemed like a reasonable assumption.

[2022-02-21 20:23] jorgeavila opened #81 "Error on 2022.1.9b7.2715 Unity version"
Have this error in the version  2022.1.9b

d3d11: failed to create 2D texture shader resource view id=1666 [D3D error was 80070057]

[2022-02-22 00:27] keijiro commented on #81
Does it reproduce on other Unity versions? Or it only reproduces on 2022.1?

[2022-02-22 00:32] jorgeavila commented on #81
Only on 2022.1 already try previews versions

[2022-02-22 00:37] keijiro commented on #81
Thanks. I'll investigate it.

[2022-03-09 00:13] sgsrules opened #82 "Spout sender is not recognized by some Spout receivers"
The spout sender works perfectly when using the Spout demo receiver as well as a receiver made using KlakSpout.  Some apps do not seem to recognize it at all though.  I haven't been able to get it to work with either GrandVJ or VirtualDJ.  I'm able to send spout to both of these apps using other applications so it's not an issue with the apps.

I suspect that the issue is the pixel format being us

[2022-03-09 13:33] ubergeekseven opened #83 "Any way to set source static?"
I am attempting to set the source to always be from the same sender application. I cannot figure out how to set it static in the code and the end users do not have input.

[2022-03-09 13:37] keijiro commented on #83
Sorry but I can't understand what's needed. The source name in the `SpoutReceiver` component is "static". No one other than you changes it.

[2022-03-09 13:55] ubergeekseven commented on #83
Do you have to manually choose the source from the dropdown or will the plugin grab any spout that exists on start? I can easily select a source in editor but, if I had multiple sources available and wanted to assign one source to the receiver always. How could that be done?

[2022-03-09 15:53] ubergeekseven commented on #83
ok. I finally messed around enough to get this working for me. I did not want to mess with the Source selector code at first. Then I just decided to try anything until I could pass my own through.

So,  since the dropdown exists within the source selector script and sends that through to the spout receiver component, I removed the update code for the selector script. I could not get it to pass thr

[2022-03-09 15:53] #83 closed, assigned to keijiro

[2022-03-10 01:01] keijiro commented on #83
- You shouldn't use Source Selector. It's just sample code showing how to interactively select a Spout source. It's only useful when you want to select a source at runtime.
- You can edit the Source Name field of a Spout Receiver component without using the dropdown.
- So, what you should do is just editing the Source Name field manually. Then you app tries to connect to a fixed Spout source every

[2022-03-10 07:07] wsdfz opened #84 "How to send texture other than RGBA"
Is there any way to send BGRA ?

Now look like it can only send texture with type RGBA.

I try to send a BGRA and it still treat as a RGBA.

[2022-03-10 07:21] keijiro commented on #84
I'm closing this issue as duplicated (#82). Please reopen it if it's a different issue.

[2022-03-10 07:21] #84 closed, assigned to keijiro

[2022-03-10 13:05] ubergeekseven commented on #83
Thank you for the reply. I did eventually figure out how to do that.

On Wed, Mar 9, 2022, 8:01 PM Keijiro Takahashi ***@***.***>
wrote:

[2022-03-15 04:08] MrMahgu commented on #81
You can fix (not sure if correct fix) by changing \Runtime\Internal\Receiver.cs line 88/89 (I'm using HDRP)

TextureFormat.RGBA32, false, false
to
TextureFormat.BGRA32, false, true

[2022-03-17 22:20] sgsrules commented on #82
I fixed the issue.  As i suspected it was indeed an issue with the pixel format.  For whatever reason some spout apps do not support RGBA32, but they all seem to support BGRA32.  Fixing it was fairly straight forward.

plugin.cpp line 58
` desc.Format = DXGI_FORMAT_B8G8R8A8_UNORM;`

You also have to change the pixel format used in unity because CopyResource won't let you use textures with differen

[2022-03-23 03:32] jorgeavila commented on #81
MrMahgu answer make it work! thanks

[2022-03-23 03:53] jorgeavila commented on #81
Weird i try it over the weekend, sure it was working but now is throwing errors and get  replace automtiacally sometimes with the old code

[2022-03-23 16:56] MrMahgu commented on #81
You would need to extract the package folder (Library\PackageCache\jp.keijiro.klak.spout@2.0.3) to its own folder and either delete it from your project and then reimport it from disk using your local modified copy.

I have a directory inside my base folder (the folder that contains all the Assets, Library, Packages, etc folders) called "LocalPackage".  You can then modify the Packages/manifest.js

[2022-04-02 22:33] strangerattractor opened #85 "Feature Suggestion: Make GammaToLinearSpace Conversion Optional in the Shader"
Reason being:

I tried to spout Positional Data from TouchDesigner to Unity.
GammaToLinearSpace Conversion in your shader leads to this behaviour:

https://streamable.com/kjz7si

Bypassing Line 52 in your shader fixes the issue for me:
`
#ifndef UNITY_COLORSPACE_GAMMA
c.rgb = GammaToLinearSpace(c.rgb);
#endif`

here is a proof of concept video:
https://streamable.com/goojr6
(I only bypassed the ga

[2022-04-07 10:33] strangerattractor commented on #85
Hi Keijiro,

saw that you changed this into "question".  Am I missing something?
I figured out that I can also switch Unity to "Gamma Mode", which also changes the behavior of the shader, and makes it work.
But that in turn "breaks" the standard HDRP-Settings.

I'm thankful for any guidance you can give on this.

[2022-04-11 11:31] sissa0 opened #86 "Error: Type or namespace does not exists"
Hey, I try to run KlakSpout in Unity Version 2021.2.19f1 but I always get this Error:

Assets\Script\SourceSelector.cs(2,19): error CS0234: The type or namespace name 'UI' does not exist in the namespace 'UnityEngine' (are you missing an assembly reference?)
Assets\Script\SourceSelector.cs(9,22): error CS0246: The type or namespace name 'Dropdown' could not be found (are you missing a using direct

[2022-04-11 12:26] keijiro commented on #86
Please try adding the Unity UI package using the Package Manager window.

[2022-04-11 14:20] sissa0 commented on #86
Wow you are my hero! It works :) Thanks you so much!

[2022-04-12 00:44] #86 closed, assigned to keijiro

[2022-05-05 10:16] Gildas310 opened #87 "Better resolution ?"
Hello,
thank you for your work.

I have low resolution of my spout video in Unity.
How can I have better resolution in Unity please ?

I send the video from Madmapper which is in 4k, I receive it in (may be) SD 640x480.

[2022-05-05 12:42] keijiro commented on #87
Please try using a render texture with the 4k resolution to receive image.

[2022-05-05 12:42] keijiro commented on #87
I'm closing this issue now. Please reopen it if it still reproduces.

[2022-05-05 12:42] #87 closed, assigned to keijiro

[2022-05-05 13:05] Gildas310 commented on #87
You are right for the size of the texture
It's perfect.
Thank you.

[2022-05-06 18:31] PockPocket opened #88 "Spout sender and Fulldome view"
Hi,

I'm having difficulty sending a RenderTexture of my fulldome game view to Touch.Designer via Spout. It seems that I can only send the default camera view without the fulldome effect.

![image](https://user-images.githubusercontent.com/73412598/167196904-53e7ef2a-23e5-4950-846e-76953e64d291.png)

I feel that there's something I should do with the Cubemap Fbo slot attached to the fulldome camer

[2022-05-06 19:59] PockPocket commented on #88
Small update on this issue, my cube map is now receiving the information from the fulldome script and a 4k x 4k white texture is being live streamed via spout to Touch designer.

![image](https://user-images.githubusercontent.com/73412598/167208704-ad94b162-d820-4c7a-a4ef-bd394b2190ed.png)

RenderTexture settings:
![image](https://user-images.githubusercontent.com/73412598/167208769-b1efa279-7c5a-

[2022-05-07 03:04] keijiro commented on #88
Spout doesn't support cubemap textures.

[2022-05-07 03:08] PockPocket commented on #88
Oh ok that explains it. Thanks for the input. Would you know of a work around for this ? Changing the aspect ratio in Unity to force a dimension through Touch Designer didn't work so I was hoping it could work via RenderTexture.

[2022-05-07 03:11] keijiro commented on #88
I think flattening with equirectangular projection is the most common approach.

[2022-05-07 03:12] keijiro commented on #88
I'm closing this issue now. Please reopen it if the original problem still reproduces.

[2022-05-07 03:12] #88 closed, assigned to keijiro

[2022-05-07 03:16] PockPocket commented on #88
I'd like to project some visuals in a dome so I was more thinking about something that would allow Unity to send that fishey fulldome effect via spout. Thanks for the help.

[2022-07-20 22:06] Gildas310 opened #89 "Madmapper problem"
Hello Keijiro,

I send a spout video from max msp jitter to unity, then I send Unity game view in Madmapper.
Without any reason, my spout workflow doesn't work anymore.

Spout receiver in Madmapper receive the video of Max Msp jitter, not Unity's one.
When I create fresh project of the third softwares, it works, then I Stop unity game, or I build unity game, madmapper does source change for no rea

[2022-07-21 01:39] keijiro commented on #89
I don't have any idea. I think it's a by-design behavior of MadMapper.

[2022-07-21 10:38] Gildas310 commented on #89
Ok.

I have converted my project from 3d (Core) to 3D (HDRP) in order to use camera spout sender instead of the game view.
It looks like working.

Thank you for your answer and for your work.

[2022-07-21 14:17] keijiro commented on #89
Sure. I close this issue as "not reproducible".

[2022-07-21 14:17] #89 closed, assigned to keijiro

[2022-07-27 15:35] LawrenceSelly opened #90 "Blit Shader is null post-build"
I'm using the KlakSpout v2.0.3, and it's installed via Scoped Registries, alongside Klak NDI.

Unity Version 2020.3.33f1
Target: Windows x64

I'm receieving the following error when I build my project:
`NullReferenceException: Object reference not set to an instance of an object
  at Klak.Spout.Blitter.GetMaterial (Klak.Spout.SpoutResources resrc) [0x00011] in F:\1_Unity_Projects\Toolkit Workpsace

[2022-07-28 01:43] keijiro commented on #90
You have to give SpoutResources to the component. Please check the "Scripting interface" section in README.

[2022-07-28 01:43] #90 closed, assigned to keijiro

[2022-08-21 11:14] SnoutFace opened #91 "Crash when adding SpoutSender component using HDRP"
[Editor.log](https://github.com/keijiro/KlakSpout/files/9388948/Editor.log)

Unity is crashing when adding the SpoutSender component while using HDRP on DX12, tested both on versions 2021.3.38f1 and 2022.1.13f1, adding the SpoutReciever component works fine

[2022-08-21 13:20] keijiro commented on #91
Does it reproduce with the sample project contained in this repository?

[2022-08-21 13:38] SnoutFace commented on #91
I just tested with the sample project using Unity 2021.3.38f1. After switching to HDRP and then changing to DX12 Unity crashed again, here is the editor log:

[Editor.log](https://github.com/keijiro/KlakSpout/files/9389190/Editor.log)

Thank you

[2022-08-21 13:54] keijiro commented on #91
Thanks for the clarification. Sure. I'll try to reproduce on my side with the sample project.

[2022-08-22 18:58] SnoutFace commented on #91
Hi, I just wanted to give more details of my testing. I have found that the crashing is consistent on Unity versions 2022.1.13f1, 2021.3.8f1 and 2020.3.38f1.

I have reproduced the crash using the sample project in the test scene by doing these steps:
- Switching to HDRP
- Switching to DX12

I have also reproduced the crash in the same versions of unity with a new project by doing these steps:
- C

[2022-09-14 12:31] WoutStandaert commented on #81
Thanks a lot @MrMahgu that worked perfectly

[2022-09-21 08:44] Alberthalbautomaten opened #92 "Spout Only sending signal on one machine"
Hey there!

Great Plugin mate! I really don't get what i did wrong but your Plugin only sends a signal on one machine. On any other with the exact same Setup it does not. Is this an issue you are aware of maybe?

[2022-09-21 09:09] Alberthalbautomaten commented on #92
Running a development build i also get

_Fallback handler could not load library_ for every .dll of klakspout.

Then i get a _DllNotFoundException: KlakSpout assembly:<unknown assembly> type:<unknown type> member:(null)_

[2022-09-21 09:34] keijiro commented on #92
Please keep one topic per one ticket.

[2022-09-21 09:35] keijiro commented on #92
- Is there any warning/error message?
- What are the specifications of those machines?

[2022-09-21 09:37] keijiro commented on #92
Did you build the project with specifying the 64-bit architecture? (KlakSpout doesn't support 32-bit)

[2022-09-21 09:37] Alberthalbautomaten commented on #92
That fixes that Problem. Thank you!

[2022-09-21 09:38] Alberthalbautomaten commented on #92
There are no Warnings.

The working Machine has a 3070ti
Got it to work on a TITAN X now
It does not work on a mobile 3060

[2022-09-21 09:41] Alberthalbautomaten commented on #92
The Receiver seems to see the Signal but displays a plain white image.

[2022-09-21 09:42] keijiro commented on #92
It should run on RTX 3060 Mobile.

I assume that the machine is a laptop, and I guess it has an integrated GPU too (Intel HD Graphics or something like that). Is it possible to explicitly disable the integrated one?

[2022-09-21 09:54] Alberthalbautomaten commented on #92
Disabling the Integrated Unit did not help. However this is what it reads from the sender.

![Spout](https://user-images.githubusercontent.com/90780912/191474385-a38d4295-53be-48cd-ac86-868dd1554cde.PNG)

[2022-10-26 11:37] Gabana commented on #81
Hi, I upgraded Unity from 2021.2.7 to 2022.2.0b11 and i am getting this error.

I am using URP and the proposed fix by MrMahgu does not work for me.

@keijiro could you please have a look at this error? Seems like it is affecting all Unity 2022 versions